.row{
    display: flex;
    margin-top: 5px;
}
.success{
    display: block;
    background-color: rgb(25, 157, 82);
    padding: 10px;
    border-radius: 8px;
    color: white;
}
button{
    background-color: white;
    border: 1ps solid black;
    border-radius: 7px;
    padding: 7px 10px;
    cursor: pointer;
}